function cl() {
    DIR="$*";
        # if no DIR given, go home
        if [ $# -lt 1 ]; then
                DIR=$HOME;
    fi;
    builtin cd "${DIR}" && \
    # use your preferred ls command
        ls -F --color=auto
}

fzf-git-branch() {
    git rev-parse HEAD > /dev/null 2>&1 || return

    git branch --color=always --all --sort=-committerdate |
        grep -v HEAD |
        fzf --height 50% --ansi --no-multi --preview-window right:65% \
            --preview 'git log -n 50 --color=always --date=short --pretty="format:%C(auto)%cd %h%d %s" $(sed "s/.* //" <<< {})' |
        sed "s/.* //"
}

fzf-git-checkout() {
    git rev-parse HEAD > /dev/null 2>&1 || return

    local branch

    branch=$(fzf-git-branch)
    if [[ "$branch" = "" ]]; then
        echo "No branch selected."
        return
    fi

    # If branch name starts with 'remotes/' then it is a remote branch. By
    # using --track and a remote branch name, it is the same as:
    # git checkout -b branchName --track origin/branchName
    if [[ "$branch" = 'remotes/'* ]]; then
        git checkout --track $branch
    else
        git checkout $branch;
    fi
}


cdr_var() {
    echo $(curl -s -X GET "http://cdrsaggregates.query.consul:8084/cdrs/blob?uuid=$1" | jq ".$2")
}


vault_read(){
     vault read secret/$1 | sed 's/  */ /g' | tail -n +3 | sed 's/[[:space:]]/=/' | sed -z 's/\n/;/g'
}

function check_detail_records_search {
  API_V2_KEY='KEY0179385C780340A2930F4B67BD4B5AE6_Y2b3y7xuKzWlp20lBSJass'
  curl -X GET \
    --header "Authorization: Bearer ${API_V2_KEY}" \
    "https://api.telnyx.com/v2/detail_records?$1"
  echo
}

function check_detail_records_search_internal {
   curl -X GET \
     "https://api.telnyx.com/internal/detail_records?$1"
   echo
 }

